
.Game {
  display: flex;
  align-items: stretch;
  height: 700px;
  width: 1200px;
  flex-shrink: 0;
}

.Sidebar {
  width: 300px;
  padding: 0 10px;
}

.Main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: stretch;
}

.DrawZone {
  display: flex;
  justify-content: stretch;
  align-items: stretch;
  flex: 1;
}

.Tools {
  width: 100px;
  background-color: #1ab0da;
  margin-left: 5px;
}

.Chats {
  display: flex;
  justify-content: stretch;
  align-items: stretch;
  height: 200px;
  padding: 10px 0;
}

.Chat {
  flex: 1;
  display: flex;
}

.Chat + .Chat {
  margin-left: 10px;
}
