.Player {
  height: 70px;
  border-radius: 2px;
  display: flex;
  padding: 10px;
}

.Player.is-disconnected {
  opacity: 0.5;
}

.Player-image {
  width: 50px;
  margin-right: 15px;
  border-radius: 2px;
}

.Player-info {
  display: flex;
  flex-direction: column;
  text-align: left;
  justify-content: space-around;
}

.Player-name {
  font-size: 18px;
  font-weight: 500;
}

.Player-score {
  margin-top: 5px;
}
